.sider,.ant-layout-sider-children {
    height: 96% ;
    margin: 15px 0 15px 10px;
    background-color: white;
  
}
 
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }